<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
  <display-name>Token Queue Management System</display-name>
  <description>Servlet + JSP based token queue manager deployed on Apache Tomcat.</description>
  <listener>
    <listener-class>com.tokenqueue.AppContextListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>GenerateToken</servlet-name>
    <servlet-class>com.tokenqueue.GenerateTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueueStatus</servlet-name>
    <servlet-class>com.tokenqueue.QueueStatusServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchToken</servlet-name>
    <servlet-class>com.tokenqueue.SearchTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NextToken</servlet-name>
    <servlet-class>com.tokenqueue.NextTokenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.tokenqueue.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tokenqueue.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResetQueue</servlet-name>
    <servlet-class>com.tokenqueue.ResetQueueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateTime</servlet-name>
    <servlet-class>com.tokenqueue.UpdateTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateToken</servlet-name>
    <url-pattern>/generateToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueueStatus</servlet-name>
    <url-pattern>/queueStatus</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchToken</servlet-name>
    <url-pattern>/searchToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NextToken</servlet-name>
    <url-pattern>/nextToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetQueue</servlet-name>
    <url-pattern>/resetQueue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateTime</servlet-name>
    <url-pattern>/updateTime</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>